@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*  root colors */
:root {
  --primary: #6266ea;
  --primary-dark: #4232c2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Archivo", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0 auto;
  background-color: #ddd;
}

h1,
h2,
h3 {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.layout-wrapper {
  padding: 0 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}

.layout-other {
  background-color: #6266ea;
  min-height: 900px;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main p {
  font-size: 1.2rem;
}

p {
  text-align: center;
}

footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
}

.header {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: var(--primary); */
}

.logo {
  margin-bottom: 2rem;
  position: absolute;
  left: 1rem;
  top: 0.4rem;
}
.logo a img {
  width: 10rem;
}
.menu {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 1rem 0;
  position: absolute;
  right: 1rem;
  color: white;
}

.logo img {
  width: 300px;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
}
.button {
  font-size: 1rem;
  background-color: var(--primary);
  padding: 1rem 2rem;
  color: #f4f4f4;
  text-align: center;
}

.button.small {
  padding: 0.5rem 1rem;
}

.button:hover {
  background-color: var(--primary);
}

.button-outline {
  border: 2px solid var(--primary);
  padding: 1rem 2rem;
  color: var(--primary);
  text-align: center;
}

.button-outline:hover {
  border-color: var(--primary);
  color: var(--primary);
}

pre {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  text-align: center;
}

code {
  font-size: 0.9rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.loading {
  background: #fff;
  border-radius: 2rem;
  padding: 3rem 5rem;
  text-align: center;
  font-size: 1.2rem;
  margin: 10rem auto;
  width: 90%;
  max-width: 25rem;
}

/* select day option */
.c-day-options {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}
.c-day-options__option {
  border: 0;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0 8px;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: transparent 4px solid;
}
.c-day-options__option:hover {
  border-bottom: var(--primary) 4px solid;
  opacity: 1;
}
.c-day-options__option--selected,
.c-day-options__option--empty.c-day-options__option--selected {
  border-bottom: var(--primary) 4px solid;
  font-weight: 900;
  opacity: 1;
}
.c-day-options__option--empty {
  opacity: 0.4;
}

.c-btn {
  display: inline-block;
  border: 2px solid var(--primary);
  background: var(--primary);
  transition: all 0.4s ease;
  color: white;
  padding: 0.3rem 1rem;
  min-height: 0.9rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  /* transition: all $anim-fade-quick $anim-ease; */
  border-radius: 26px;
  white-space: normal;
  font-size: 1rem;
}

.c-btn-alt {
  display: inline-block;
  border: 2px solid rgb(216, 94, 94);
  background: rgb(216, 94, 94);
  transition: all 0.4s ease;
  color: white;
  padding: 0.3rem 1rem;
  min-height: 0.9rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  /* transition: all $anim-fade-quick $anim-ease; */
  border-radius: 26px;
  white-space: normal;
  font-size: 1rem;
}

.c-btn-alt:disabled,
.c-btn-alt[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.c-btn__inner {
  display: flex;
  align-items: center;
}

/* .c-btn__icon {
  height: 1.75rem;
  fill: $color-btn-primary;
  transition: fill $anim-fade-quick $anim-ease;
  padding-right: 1rem;
} */

.c-btn:hover,
.c-btn:focus {
  transition: all 0.4s ease;
  color: white;
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  cursor: pointer;
}

.c-btn:disabled,
.c-btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.c-btn-link {
  text-decoration: none;
  display: flex;
}

.c-btn-icon {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
.c-btn-icon:hover,
.c-btn-icon:focus,
.c-btn-icon:active {
  background-color: transparent;
  border-color: transparent;
}

/* utilties */
.u-margin-bottom {
  margin-bottom: 0.25rem;
}
.u-margin-top {
  margin-top: 0.25rem;
}
.u-margin-right {
  margin-right: 0.25rem;
}
.u-margin-left {
  margin-left: 0.25rem;
}

.u-flex {
  display: flex;
}
.u-jutify-center {
  justify-content: center;
}

.c-select {
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
}
